body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

p {
  color: #333;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a.selected {
  font-weight: bold;
}
nav a.selected2 {
  font-weight: bold;
  color: rgb(132, 132, 221);
}
nav a.selected3 {
  font-weight: bold;
  color: rgb(235, 122, 122);
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.container h1 {
  color: #333;
}

.container p {
  color: #555;
}

.container a {
  color: #007bff;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}
